*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-image: url(./img/pegadas.avif);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.container-home {
    width: 450px;
    background-color: #fff;
    margin: 40px auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 20px;
    border-radius: 8px;
    color: #802600;
    font-size: 18px;
}

.container-home h1 {
    color: #802600;
    font-size: 24px;
    text-align: center;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.input-container input {
    width: 100%;
    height: 35px;
    border-radius: 8px;
    font-size: 18px;
    outline-color: #802600;
    border: 2px solid #a9490b;
    margin-bottom: 5px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

}

.flex-45 {
    flex-basis: 45%;
}

label {
    margin: 5px;
}

textarea {
    width: 100%;
    height: 250px;
    outline-color: #802600;
    border: 2px solid #a9490b;
    border-radius: 8px;
    font-size: 18px;
    resize: none;
    margin-top: 5px;
}

.button-submit {
    width: 100px;
    border-radius: 8px;
    color: #fff;
    background-color: #a9490b;
    margin-top: 10px;
    padding: 5px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-app {
    display: flex;
    background-color: #a9490b;
    height: 50px;
    justify-content: center;
    text-align: center;
    align-items: center;
    bottom: 0;
    color: #fff;
    margin-top: 50px;
    padding: 1rem;
}

@media (max-width: 825px) {
    .form-row {
        flex-direction: column;
    }

    .container-home {
        width: 400px;
    }

    .button-submit {
        padding: 15px;
    }
}

/* ===== CSS da página de listagem ===== */

header {
    width: 100%;
    height: 70px;
    text-align: center;
    align-content: center;
    background-color: #a9490b;
    top: 0;
    color: #fff;
    margin-bottom: 30px;
}

.item-pet {
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    width: 225px;
    height: 250px;
    border: 1px solid #88888881;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-pet a {
    border: 1px solid #802600;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
    color: #802600;
    cursor: pointer;
    margin: 5px;
}

.item-pet a:hover {
    background-color: #802600;
    color: #fff;
}

.item-pet img {
    height:60%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.container-pets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

